
@use 'sass:map';
@use '../../core';


//
//	Frontier / Styles / Modules / Breakpoints / Config
//


$config: () !default;
$use_defaults: true !default;

$config-defaults: (
	default: (
		dir: max,
		width: 1439,
		max: 96
	),
	small: (
		dir: max,
		width: 960,
		max: 100
	),
	large: (
		dir: max,
		width: 1440,
		max: 96
	),
);

@include core.set-state( 'breakpoint', default );

@if $use_defaults {
	$config: map.merge( $config, $config-defaults ) !global;
}
