
@use '../core';
@use '../modules' as *;


//
//	Frontier / Styles / Base / Typography
//


/**
 *	Type scale
 *	--------------------------------------------------
**/


@each $type-key, $type-map in $type-config {
	$type-el: core.get( $type-map, 'el' );
	$type-bp: core.get( $type-map, 'breakpoints' );

	.#{ $type-key } {
		@include type-size( $type-key );

		@if $type-bp {
			@each $bp-key, $bp-type-value in $type-bp {
				@include breakpoint-for( $bp-key ) using ( $bp ) {
					@if type-of( $bp-type-value ) == map {
						@include type-size(
							core.get( $bp-type-value, 'px' ),
							core.get( $bp-type-value, 'lines' ),
							core.get( $bp-type-value, 'margin' )
						);
					} @else {
						@include type-size( $bp-type-value );
					}
				}
			}
		}
	}

	@if type-of( $type-el ) == string {
		#{ $type-el } {
			@extend .#{ $type-key };
		}
	}
}


.-f-caps {
	text-transform: uppercase;
}

.-f-strike {
	text-decoration: line-through
}


//	Weights		----------------

.-f-light { font-weight: 100; }
.-f-regular { font-weight: normal; }
.-f-medium { font-weight: 500; }
.-f-semi-bold { font-weight: 600; }
.-f-bold { font-weight: bold; }
.-f-black { font-weight: 900; }
