
@charset 'utf-8';


//
//	Frontier / Styles / Main
//


//	Environment
$env: 'development' !default;

@if ( $env == 'development' ) {
	@debug '→ Build Environment: Development';
}

//	Dev overlays
$dev_show-helper: true !default;
$dev_show-grid: false !default;
$dev_show-baseline: true !default;

@import 'base';
@import 'print';
