
@use '@frontage/frontier-styles/index' as *;


//
//	Frontier / UI / Components / List
//


.c-list {
	$c: &;

	@include type-size( default );
	list-style: none;

	// Elements

	li {

		&:not(:last-child) {
			margin-bottom: grid-baseline(2);
		}

		&::before {
			content: "\2022";
			display: inline-block;
			font-weight: 600;
			width: grid-gutter(0.5);
		}
	}

	// Formats

	&.-format-list {
		li:not(.-format-icon)::before {
			font-size: 140%;
		}
	}

	&.-format-ordered {
		counter-reset: li;

		li {
			counter-increment: li;

			&::before {
				content: counter(li) ". ";
				width: grid-gutter(0.75);
			}
		}
	}

	li.-format-icon {
		display: flex;
		align-items: flex-start;

		&::before {
			content: none;
		}

		.c-icon {
			padding-right: grid-gutter(0.25);
		}
	}
}
