
@use 'sass:map';
@use '../../core';


//
//	Frontier / Modules / Colors / Config
//


$config: () !default;
$config-themes: () !default;
$use_defaults: true !default;

$config-defaults: (
	white-base: #FFFFFF,
	off-white: #F8F8F8,

	blue-grey: #F0F1F5,
	blue-grey-light: #F2F3F6,

	purple-base: #5F4AF2,
	purple-mid: #3F309C,
	purple-dark: #342882,

	grey-base: #B5B5B5,
	grey-mid: #7A7A7A,
	grey-dark: #4A4A4A,
	grey-darker: #363636,

	blue-base: #3852E8,
	blue-mid: #3046C7,
	blue-dark: #283CA8,

	yellow-base: #f2d34a,

	black-base: #000000,
	orange-base: #F68B24,
	red-base: #C91543,
	green-base: #2CA717,
);

$config-theme-defaults: (
	root: (
		--brand: purple-base,
		--brand-mid: purple-mid,
		--brand-secondary: yellow-base,
		--brand-contrast: purple-dark, // Sits on white
		--brand-invert: grey-dark, // Sits on brand
		--brand-secondary-invert:white,

		--base: grey-dark,
		--text: grey-mid,
		--text-light: grey-base,
		--headline: grey-dark,
		--headline-light: grey-mid,

		--link: blue-dark,
		--link-hover: blue-mid,
		--link-light: blue-mid,
		--link-light-hover: blue-dark,

		--button-text: --base,
		--button-bg: --brand,
		--button-highlight: --brand-mid,
		--button-secondary-text: --brand,
		--button-secondary-bg: --brand-secondary-invert,

		--state-focus: blue-base,
		--state-success: green-base,
		--state-alert: orange-base,
		--state-error: red-base,
		--bg: white-base,
		--bg-light: blue-grey-light,
	),
	dark: (
		--text: white-base,
		--headline: white-base,
		--bg: black-base,
		--link: white-base,
		--link-hover: purple-base,
		--link-light: grey-base,
		--link-light-hover: off-white,
	),
);

@if $use_defaults {
	$config: map.merge( $config-defaults, $config ) !global;
	$config-themes: map.merge( $config-themes, $config-theme-defaults ) !global;
}
