

//
//	Frontier / Helpers / Alignment
//


.-mla {
	margin-left: auto;
}
.-mra {
	margin-right: auto;
}
.-mxa {
	margin-left: auto;
	margin-right: auto;
}

.-a-center {
	text-align: center;
	justify-content: center;
}
.-a-left {
	text-align: left;
	justify-content: flex-start;
}
.-a-right {
	text-align: right;
	justify-content: flex-end;
}

.-va-center-inline {
	display: inline-flex;
	align-items: center;
}
.-va-center {
	display: flex;
	align-items: center;
}
.-va-start {
	display: flex;
	align-items: flex-start;
}
.-va-end {
	display: flex;
	align-items: flex-end;
}
